<div class="alert alert-block alert-info">
<center> <h1> Exploratory Data Analysis (EDA) </h1> </center> <br>
<center> <h2> Reading Files & Datasets </h2> </center> <br>
<center> João Caldeira @ Universidade Lusófona </center>
<center> 2023/2024 </center>

## Este Notebook foi testado com Python 3.10.9 e está totalmente funcional.

<hr>
<a class="anchor" id="setup">

# 1. Configuração Inicial
</a>

<a class="anchor" id="importlibraries">

## 1.1. Importar Livrarias/Pacotes e Definições Iniciais

</a>

Se as livrarias que necessitamos não estiverem instaladas, devemos instalá-las logo no ínicio.
Esta ação só é executada uma vez, e assim sendo, o seguinte código, depois da primeira execução, deve ser comentado.

In [17]:
#%pip install pandas

Todas as livrarias que necessitarmos devem ser carregadas (desde que instaladas primeiro) logo no ínicio do Notebook.

In [1]:
import pandas as pd

<a class="anchor" id="importlibraries">

## 1.2. Importar os Dados

</a>

O segundo passo é carregar os dados com que queremos trabalhar. No caso de termos que lidar com um ficheiro de texto (ex: .txt, .csv), é fundamental não esquecer o separador das colunas. Abra o ficheiro no Wordpad ou Notepad e confirme o separador.

In [18]:
ds = pd.read_csv("datasets/titanic.csv")
ds.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Import a TXT file

## Import a TSV file

## Import a CSV file (different delimiter)

## Import an Excel file

## Import a JSON file

## Import a file from Internet

## Import data from Clipboard

## Import data from an HTML page

## Import data from a database